## list

list adalah jenis kumpulan data terurut(ordered sequence), dana merupakan salah satu variabel yang sering digunakan pada pyhton serupa,namun tak sama dengan array pada bahasa lainnya. bedanya,elemen List pada pyhton tidak harus memiliki type yang sama. Mendekralasikan list cukup mudah dengan kurung siku dan elemen yang dipisahkan dengan koma(,)
setiap data di dalamnya dapat diakses dengan indeks yang mulai dari 0

In [ ]:
#contoh List
L1 = [1,4,2,13]
print(type(L1))

<class 'list'>

In [ ]:
L2 = ["a","python",3]
L2

['a', 'python', 3]

In [ ]:
print(L1)
print(L2)

[1, 4, 2, 13]
['a', 'python', 3]

Latihan 1

In [ ]:
a = [2,1,0,0,0,1,5,0,4,9]
b = ['wisnu','wildan','11','uad']
print(type(a))
print(a)
print(b)

<class 'list'>
[2, 1, 0, 0, 0, 1, 5, 0, 4, 9]
['wisnu', 'wildan', '11', 'uad']

indeks di python (list,tuple) mulai dari 0

In [ ]:
#sifat-sifat list
#terurut/ordered
print('memanggil list L1 dengan urutan :',L1[0:3])
#Bisa diganti/mutable
L1[1] = 2
print('list L1 setelah diganti elemennya',L1)
L1 = [1,"dua",True,2+3j]

#Dapat diindeks/sclicing
print("sclicing list L1",L1[3])
#dapat diijinkan duplikasi
L1 = [1,"dua",True,2+3j,2+3j]
print('duplikasi pada list L1:',L1)

memanggil list L1 dengan urutan : [1, 4, 2]
list L1 setelah diganti elemennya [1, 2, 2, 13]
sclicing list L1 (2+3j)
duplikasi pada list L1: [1, 'dua', True, (2+3j), (2+3j)]

latihan 2

In [ ]:
#ganti elemen yang ada pada list yang kalian buat
#sifat-sifat list
#terurut/ordered
print('memanggil list a dengan urutan :',a[2:6])
#Bisa diganti/mutable
a[5] = 2
print('list L1 setelah diganti elemennya',a)
a = [22,"kosong tiga",False,11+29j]

#Dapat diindeks/sclicing
print("sclicing list a",a[2])
#dapat diijinkan duplikasi
a = [22,"kosong tiga",False,11+29j,11+29j]
print('duplikasi pada list a:',a)

memanggil list a dengan urutan : [0, 0, 0, 1]
list L1 setelah diganti elemennya [2, 1, 0, 0, 0, 2, 5, 0, 4, 9]
sclicing list a False
duplikasi pada list a: [22, 'kosong tiga', False, (11+29j), (11+29j)]