## struktur dasar tuple

Tuple adalah jenis dari struktur data yang tidak dapat diubah elemennya. Umumnya tuple digunakan untuk data yang bersifat sekali tulis, dan dapat di eksekusi dengan lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan dengan koma(,)

In [ ]:
# contoh tuple 
T1 = (1,"dua",True,1+2j)
print("ini adalah tuple",T1)

ini adalah tuple (1, 'dua', True, (1+2j))

In [ ]:
#menampilkan tipe data 
type(T1)

tuple

latihan 1

In [ ]:
#buatlah type tuple mu sendiri
a = (22,"kosong tiga",False,11+29j,11+29j)
print(a)
type(a)

(22, 'kosong tiga', False, (11+29j), (11+29j))

tuple

sifat-sifat tuple

In [ ]:
#terurut/ordered
T1[0:3]

(1, 'dua', True)

In [ ]:
#tidak bisa diganti/immutable
T1[2]='manusia'

TypeError: ignored

In [ ]:
#dapat diijinkan duplikasi
T2 = (3,2.4,True,2.4)
T2

(3, 2.4, True, 2.4)

In [ ]:
#menggabungkan dua tuple
T3 = T1 +T2
T3

(1, 'dua', True, (1+2j), 3, 2.4, True, 2.4)

latihan 2

In [ ]:
#buatlah tuple kedua lalu gabungkan 2 tuple yang telah kamu buat
b = ("wildan",11,"mutiara",11+23j)
c = a+b
c

(22,
 'kosong tiga',
 False,
 (11+29j),
 (11+29j),
 'wildan',
 11,
 'mutiara',
 (11+23j))