##set

set adalah kumpulan item bersifat unik dan tanpa urutan (unordered collection). didefinisikan dengan kurawal dan elemennya dipisahkan dengan koma(,). Pada set kita dapat melakukan union dan intersection, sekaligus otomatis melakukan penghapusan data duplikat.

In [ ]:
#contoh set
S1 = {1,"dua",True,2+3j}
print(type(S1))

In [ ]:
#sifat-sifat set 
#tidak terurut/unordered
print("memanggil set S1 dengan indeks urutan :",S1[0:3])

In [ ]:
#tidak bisa di gatni elemennya 
S1[1]=2
print("memanggil set S1 setelah diganti elemenya :",S1)

In [ ]:
S1 = {1,"dua ",True,2+3j}
#dapat diindeks/slicing
print("slicing set S1:",S1[3])

In [ ]:
#dapat diijinkan duplikasi 
S1 = {1,"dua",True,True,2+3j,2+3j}#boolean tidak terbaca atau dianggap tidak ada
print("duplikatsi pada set S1:",S1)

latihan

In [ ]:
#buatlah struktur data set mu sendiri
a = {11,23,"wildan","mutiara",True,11+23j}
print(a)
print(type(a))
print(a[0:3])