## Konserversi struktur data

fungsi untuk mengubah struktur data
a. list() : untuk mengubah menjadi list
b. tuple(): untuk mengubah menjadi tuple
c. set() : untuk mengubah menjadi set
d. dict(): untuk mengubah menjadi dictionary

# mengkonversi tipe data list

In [13]:
# mengubah 2 list
L1 = [1,2,3,4]
L2 = [5,6,7,8]

In [14]:
# mengonversi struktur data list
k_tuple = tuple(L1)
k_set = set(L2)
k_dict = dict(zip(L1,L2))
# melihat data uang telah di konversi
print(k_tuple)
print(k_set)
print(k_dict)

(1, 2, 3, 4)
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

# mengkonversi tipe data tuple

In [15]:
# membuat dua tuple
T1 = (1,2,3,4)
T2 = (5,6,7,8)

In [16]:
#mengkonversi struktur data tuple
k_list = list(T1)
k_set = set(T2)
k_dict = dict(zip(T1,T2))
#melihat dayta yang telah di konversi
print(k_list)
print(k_set)
print(k_dict)

[1, 2, 3, 4]
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

#konversi tipe data set

In [17]:
#membuat data set
S1 = {1,2,3,4}
S2 = {5,6,7,8}

In [18]:
#mengkonversi struktur data set
k_list = list(S1)
k_tuple = tuple(S2)
K_dict = dict(zip(S1,S2))

#konversi tipe data list

In [19]:
#membuat dictionary 
D = {
    "nama":"andi",
     "alamat":"yogyakarta",
     "umur":20
}

In [20]:
#konversi struktur data dictionary dari key value-nya
k_list = list(D.keys())
k_tuple = tuple(D.values())
k_set = set(D.keys())
#melihat data yang telah dikonversikan
print(k_list)
print(k_tuple)
print(k_set)

['nama', 'alamat', 'umur']
('andi', 'yogyakarta', 20)
{'umur', 'alamat', 'nama'}

latihan

In [25]:
#set
sEt = {11,23,"wildan","mutiara",True,11+23j}
SeT = {1,2,3,4,5,6}
kl = list(sEt)
kt = tuple(sEt)
k_dict = dict(zip(sEt,SeT))
print(k_dict)
print(kt)
print(kl)

{True: 1, 11: 2, 'wildan': 3, 'mutiara': 4, (11+23j): 5, 23: 6}
(True, 11, 'wildan', 'mutiara', (11+23j), 23)
[True, 11, 'wildan', 'mutiara', (11+23j), 23]

In [26]:
#dictionary
wildan = {11:'HBD',"mutiara":23}
a = list(wildan.values())
b = tuple(wildan.keys())
c = set(wildan.keys())
print(a)
print(b)
print(c)

['HBD', 23]
(11, 'mutiara')
{11, 'mutiara'}

In [28]:
# tuple
a = (22,"kosong tiga",False,11+29j,11+29j)
b = (1,2,3,4,5)
c = set(a)
d = list(a)
e = dict(zip(a,b))
print(c)
print(d)
print(e)

{'kosong tiga', False, (11+29j), 22}
[22, 'kosong tiga', False, (11+29j), (11+29j)]
{22: 1, 'kosong tiga': 2, False: 3, (11+29j): 5}

In [29]:
#list
a = [2,1,0,0,0,1,5,0,4,9]
b = ['wisnu','wildan','11','uad']
c = [1,2,3,4]
d = set(a)
e = tuple(b)
f = dict(zip(b,c))
print(d)
print(e)
print(f)

{0, 1, 2, 4, 5, 9}
('wisnu', 'wildan', '11', 'uad')
{'wisnu': 1, 'wildan': 2, '11': 3, 'uad': 4}