## looping/ perulangan

python menyediakan dua statement untuk melakukan proses perulangan yaitu for dan while. diantara kedua statement ini secara umum for lebih umum digunakan dari pada while

#for looping

In [2]:
#program untuk menghitung jumlah semua angka dalam sebuah list
L1 = [2,4,5,7,9]
jumlah = 0

#literasi didalam list
for i in L1:
  jumlah = jumlah +i

print(jumlah)

27

In [3]:
# program untuk melakukan interasi di dalam list melalui indeks
minuman = ["teh","boba","kopi","susu"]
p = len(minuman)

#interaksi didalam list melalui indeks
for i in range(p):
  print(minuman[i])

teh
boba
kopi
susu

In [4]:
#contoh for loop menggunakanan else
for i in range(p):
  print(minuman[i])
else:
  print('element sudah habis')

teh
boba
kopi
susu
element sudah habis

latihan 1

In [22]:
list_tagihan = [50000,75000,-150000,300000,-50000,200000]
o = len(list_tagihan)
total_tagihan = 0
for i in range(o):
  total_tagihan = total_tagihan + list_tagihan[i]
  print(list_tagihan[i])
else:
  print('total tagihan adalah:',total_tagihan)

50000
75000
-150000
300000
-50000
200000
total tagihan adalah: 425000

#while

In [26]:
# program untuk menjumlahkan semua
#bilangan asli hingga suku ke-n
#jum = 1+2+3+...+n
n = 10
jumlah = 0
i = 1
while i <= n:
  jumlah = jumlah + i
  i=i+1
else:
  print(jumlah)

55

In [27]:
jum = 0
i = 1
while i <= n:
  jum = jum + i
  i=i+1
else:
  print(jum)

55

latihan 2

In [4]:
tagihan = [50000,75000,125000,300000,200000]
o = len(tagihan)
i = 0
total_tagihan = 0
while i < o:
  total_tagihan = total_tagihan + tagihan[i]
  print(tagihan[i])
  i = i+1
else:
  print('total tagihan adalah:',total_tagihan)

50000
75000
125000
300000
200000
total tagihan adalah: 750000