In [ ]:
x = lambda a : a + 10
print(x(5))

15

In [ ]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [ ]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [ ]:
def myfunc(n):
  return lambda a : a + n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

13
14

In [ ]:
def squere_sum(x,y):
  return x**2 +y**2
squere_sum(3,4)

25

In [ ]:
a = lambda x,y :x**2 +y**2
a(3,4)

25

In [ ]:
a = lambda name: print(f'hello,{name}')
a('wildan')

hello,wildan

In [ ]:
f = lambda x : x+10
val1 = f(5)
val2 = f(110)
print(val1,val2)

15 120

In [ ]:
f = lambda x,y : x*y
a = f(13,10)
b = f(43,20)
print(a,b)

130 860

In [ ]:
def say_hello(nama):
  print(f'hello {nama},apa kabar?')
ucapin = say_hello(33)

hello 33,apa kabar?

In [ ]:
(lambda x,y :x**2+y**2)(3,4)

25